<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="report" />

    <bean id="first" class="quoter.TerminatorQuoter">
        <property name="message" value="I'll be back!!!1" />
    </bean>

    <bean id="second" class="quoter.TerminatorQuoter" primary="true" init-method="init"
          destroy-method="destroy">
        <property name="message" value="I'll be back!" />
    </bean>

<!--    <bean id="thermometer" class="report.Thermometer" />-->

<!--    <bean id="weatherStation" class="report.WeatherStation">-->
<!--&lt;!&ndash;        <constructor-arg>&ndash;&gt;-->
<!--&lt;!&ndash;            <bean class="report.Thermometer" />&ndash;&gt;-->
<!--&lt;!&ndash;        </constructor-arg>&ndash;&gt;-->
<!--        <constructor-arg ref="thermometer" />-->
<!--    </bean>-->

<!--    <bean id="jasperReportGenerator" class="report.JasperReportGenerator" />-->

<!--    <bean id="reportGenerationContext" class="report.ReportGenerationContextImpl">-->
<!--        <constructor-arg ref="weatherStation" index="1" />-->
<!--        <constructor-arg ref="jasperReportGenerator" index="0" />-->
<!--    </bean>-->

<!--    <bean id="reportGenerationSerivce" class="report.ReportGenerationService">-->
<!--        <constructor-arg ref="reportGenerationContext" />-->
<!--    </bean>-->

</beans>